button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 1rem 1.5rem;
    font-size: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.323);
    transition: all 0.4s;
}
button:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.295);
}